<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

## Author
Praveen M

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries of Python for Data Science
- Create a table in Jupyter notebook
- Introduce Arithmetic expressions
- Perform Arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. SAS

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. SciKit-Learn

| Data Science Tools |
|---|
|Jupyter notebook|
|PyCharm|
|Spyder|
|Visual Studio Code|
|Anaconda|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

```Python
a=9
b=1
c=a+b
d=a*b
e=a/b
f=a-b
print(a,b,c,d,e,f)
```

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335